.detailed-article {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  background-color: #ffff;
  &-post {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
  }
  &-avatar {
    display: flex;
    &-details {
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
  }
}
